<% provide(:title, "About") %>
<h1>About</h1>
<p>
    My Mentors is a web application which contacts current students with past students of same/similar courses. With the increase of pressure on unis students, the demand for extracurricular tutoring is also increasing. This background gave birth to this project, and we hope to establish an official web platform to facilitate students to find reliable tutors, and to reduce the possibility of students being deceived.
</p>
<p>
	The aim of this application is to make current student who need supplementary in a particular course to choose the specific past student, which is called mentor, for tutoring.
</p>
<p>
	If you find any bugs while using My Mentors, please contact us. Thank you for your support.
</p>