<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  	1. Login My Mentor with your student ID and password.  
</p>
<p>
	2. Logout button is in "Account".
</p>
<p>
	3. If you want to be a mentor, click "Apply to be a mentor" or click "Be a mentor" or "as mentor" in "Transfer". If you want to be a mentee, click "Find a mentor" or "as mentee" in "Transfer".
</p>
<p>
	4. A mentor can edit tutorial name and hourly rate. After you confirming these information, other mentees can book your tutorial. You also can finish the tutorial.
</p>
<p>
	5. A mentor can check your mentee information by click "detail", and send email to your mentee before the tutorial is finished.
</p>
<p>
	6. A mentee can pick the mentor you like by click "choose", and send email to your mentor before the tutorial is finished.
</p>
<p>
	7. After finishing tutorial, a mentee can give feedback to your mentor by click "give feedback". After you confirming, the review will be updated.
</p>